<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RSS 2 Fax</title>

        <meta name="author" content="Johannes Schriewer">
        <meta name="keywords" content="RSS, Fax">
        <meta name="description" content="Rss to Fax gateway">

        <style>
            {% include 'main.css' %}
        </style>
        {% block extra_header %}{% endblock %}
    </head>
    <body>
        {% block head %}
            <h1>RSS Today</h1>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
</html>